
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-disabled="saveInProgress" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit: {{dashboard.name}}</h4>
            </div>
            <div class="modal-body">
                <p>
                    <input type="text" class="form-control" placeholder="Dashboard Name" ng-model="dashboard.name">
                </p>
                <p>
                     <div id="olive">
                         <span ng-repeat="group in groups"><span class="label label-primary" >{{group['name']}}</span><i class="fa fa-times meila-sun-hidden" ng-click="deleteGroup(group['id'])"></i>&nbsp&nbsp</span>
                     </div>
                </p>
                <p ng-if="dashboard.id != null">
                    <select ng-model="default_group" ng-options="group['id'] as group['name'] for group in all_groups"></select>
                    &nbsp
                    <i class="fa fa-plus" ng-click="addGroup(default_group)"></i>
                </p>

                <div class="gridster">
                    <ul></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-disabled="saveInProgress" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="saveInProgress" ng-click="saveDashboard()">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
